.game_dialogWindow{
    background-image: url('../images/dialog_background.png');
    background-color: rgba(30, 30, 180, 0);
}

.game_dialogWindow .dialog_text {
    bottom: 18px;
    left: 33px;
    right: 33px;
}

.game_dialogWindow {
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.game_dialogWindow .game_dialogTitleBar
{
    padding-left: 25px;
    padding-right: 25px;
}

.login_menu {
    background-image: url('../images/login.png');
}

.login_menu > .game_dialogTitleBar {
    display: none;
}

.login_menu > .game_dialogBody {
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.login_menu > .game_dialogBody > .passcode_title {
    display: none;
}

.login_menu > .game_dialogBody > .passcode_input {
    border-width: 0px;
    width: 176px;
    height: 34px;
    margin-bottom: -5px;
}

.login_menu > .game_dialogBody > .login_button {
    margin-right: 12px;
    margin-bottom: 10px;
    height: 53;
    width: 174px;
    background-color: transparent;
    font-size: 0;
    border: none;
}

.login_menu > .game_dialogBody > .login_button:hover {
    cursor: pointer;
}

.login_menu > .game_dialogBody > .login_button:active {
    border: #F00 groove 2px;
}